*{
    box-sizing: border-box;    
}

body{
    background: #dcdcdc;
    font-family: 'Muli', sans-serif;
    width: 100%;
}
/*-------containers----------*/
.first-container{
    text-align: center;
    padding: 20px 20px 0;
/*    border: 1px solid red;*/
/*    background: red;*/
}

.second-container{
    text-align: center;
    padding: 20px 10px;
    background: #f3f3f3;
}

.third-container{
    text-align: center;
    margin: 0 10px;
    padding: 20px 10px;
    border-bottom: 1px solid gray;   
}

.final-container{
    margin: 0 10px;
    padding: 10px 10px 0;   
}

/*----------end-------------*/

/*-------inside first container------*/

/*my name*/
.first-container h1 {
/*    border: 1px solid red;*/
    margin: 0;
    padding: 20px;
}

/*navigation menu*/
.first-container nav{
    width: 100%;
}
.first-container li{
    background: white;
    margin: 0 10px 5px;
/*    padding: 10px;*/
    list-style-type: none;
}

.first-container a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: block;
    padding:10px;
}

/*My Image*/
.first-container img{
    max-width: 100%;   
}
/*introductory paragraph*/
.first-container p{
    margin:5px 0 10px;
    padding: 20px;  
}
/*----------end-------------*/

/*-------inside second container------*/

/*portfolio header*/
.port-section h2{
    margin-bottom: 0;
}

/*portfolio paragraph*/
.port-section p {
    padding: 0 10px 10px;  
}

/*portfolio images*/
.second-container img{
    width: 100%;
}
/*----------end-------------*/

/*-------inside third container------*/

/*Contact hyperlink*/
.third-container a{
    color:black;
    text-decoration: none;
}
/*----------end-------------*/

/*-------inside final container------*/
.student-name {
    display: inline;
    float: left;
}

.top {
    display: inline;
    float: right;
}

.final-container nav{
    display: none;
}
/*----------end-------------*/

/*================================
        Media Query: Tablet
==================================*/
@media only screen and (min-width: 768px) {
/*  reference  */
    body {
        background: lightblue;        
    }
/*-------inside first container------*/

    /*  navigation menu  */
    .first-container ul,
    .first-container li{
        display: inline-block;
        background: none;
    }
    
    /*  inductory paragraph  */
    .first-container p{
        text-align: justify;
        font-size: 1.25em;
        display: inline-block;
        width:60%;
    }
    /*  My image  */
    .first-container img {
        width:40%;
        display: inline;
        float:right;
        margin-bottom: 30px;
    }
/*----------end-------------*/

/*-------inside second container------*/
    .second-container{
        display: table;
        width: 100%;
    }
    .port-section {
        width: 49%;
        float: left;
        padding: 30px;
        margin: 1px;
        display: table-cell;
    }  
/*----------end-------------*/

/*-------inside final container------*/
    .top {
        display: none;
    }
    
    .final-container nav{
       display: inline-block;
        float: right;
        
    }
    .final-container ul{
        display: inline-block;
        margin: 0;
    }
    .final-container li{
        margin: 0 10px 5px;
        list-style-type: none;
        float: left;
    }
    .final-container a{
        text-decoration: none;
        color: black;
        font-weight: bolder;
        display: block;
        padding:10px;
    }
}
/*----------media query end-------------*/

/*================================
        Media Query: Desktop
==================================*/
@media only screen and (min-width: 1024px) {
    body {
        background: teal;
    }
/*-------inside first container------*/
    .first-container h1{
        display: inline-block;
        float: left;
    }
    
    .first-container nav{
        display: inline;
    }
    
    .first-container ul {
        display: inline-block;
        float: right;
    }
    .first-container li {
        display: inline-block;
    }
    
    
    .first-container a:hover{
        color:darkgoldenrod;
        transition: .3s;
    }
/*----------------end-------------*/
    
/*-------inside second container------*/

        .second-container{
        display: table;
        width: 100%;
    }
    .port-section {
        width: 33%;
        float: left;
        padding: 30px;
        margin: 1px;
        display: table-cell;
}
/*----------------end-------------*/

/*-------inside third container------*/
    .third-container a:hover {
        color:darkturquoise;
        transition: .3s;
    }
/*----------------end-------------*/

/*-------inside final container------*/
    .final-container a:hover {
        color:darkgoldenrod;
        transition: .3s; 
    }
/*----------------end-------------*/


/*-------CLEARFIX----------*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
}



