*{
    box-sizing: border-box;
}

body{
    background: gainsboro;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.container {
    margin:-20px 20px;
    padding: 20px;
    background: #f9f9f9;
}
.second-container {
    background: white;
    margin: 40px -20px;
    padding: 20px;
}
.main-content img{
    width:70%;
}

.portfolio img {
    width: 100%;
}
.main-content p,
.portfolio p {
    margin: 15px;
}
/*Navigation Menu*/
.main-header li{
    list-style: none;
    margin-left: -40px;
    display: block;
}

nav {
    display: block;
    width: 100%;
}

li a {
    background: white;
    color: black;
    font-weight: bolder;
    display:block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
}

.contact {
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}

.contact a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.main-footer p{
    display: inline-block;
}
/*====================================
            Media Queries
======================================*/
@media(min-width:768px){
    body{
        background: purple;
    }
    
    nav {
        display: inline-block;
    }
    
    ul {
        display: inline-block;
        margin-left: 100px;
    }
    ul li{
        display: inline-block;
        margin-right: 100px;    
    }
    
    li a {
        background: #f9f9f9 ;
        padding: 20px;
        display: inline-block;
    }
    
    .main-content img{
    width:40%;
    float: right;
    display: block;
}
    
    .main-content p{
        width: 50%;
        display: inline-block; 
        text-align: left;
        font-size: 1.5em;
        margin-top: 0;
    } 
    
    .main-content{
        margin-bottom: 50px;
        display: inline-block;
    }
    
    .second-container {
    display: block;
}
    .port-1 {
        width: 50%;
        display: inline-block;
        float:left;
    }
    .port-2 {
        width: 50%;
        display: inline-block;
        float: right;
       
    }

    .port-3 {
        width: 50%;
        display: inline-block;
        float:left;
    }
    .port-4 {
        width: 50%;
        display: inline-block;
        float: right;
       
    }
    
    .port-5 {
        width: 50%;
        display: inline-block;
        float:left;
    }
    .port-6 {
        width: 50%;
        display: inline-block;
        float: right;
       
    }
}
