*{
    box-sizing: border-box;    
}

body{
    background: gainsboro;
    font-family: 'Muli', sans-serif;
    text-align: center;
}

.container {
    margin:-20px 20px;
    padding: 20px;
    background: #f9f9f9;
}
.second-container {
    background: white;
    margin: 40px -20px;
    padding: 20px;
}
.main-content img{
    width:70%;
}

.portfolio img {
    width: 100%;
}
.main-content p,
.portfolio p {
    margin: 15px;
}
/*Portfolio Layout*/

}
/*Navigation Menu*/
.main-header li{
    list-style: none;
    margin-left: -40px;
    display: block;
}

nav {
    display: block;
    width: 100%;
}
ul {
    list-style: none;
    display: block;
    margin-left: -40px;
}
li a {
    background: white;
    color: black;
    font-weight: bolder;
    display:block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
}

.contact {
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}

.contact a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.main-footer p{
    display: inline-block;
}
/*====================================
            Media Queries
======================================*/
@media(min-width:768px){
    body{
        background: purple;
    }
